# Server
DATABASE_URL="postgresql://neondb_owner:<PASSWORD>@<host>.neon.tech/neondb?sslmode=require"
DATABASE_APP_URL="postgresql://app_user:<PASSWORD>@<host>.neon.tech/neondb?sslmode=require"
AUTH_SESSION_SECRET=""         # openssl rand -hex 32
PORTAL_SESSION_SECRET=""       # openssl rand -hex 32
GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
GMAIL_REFRESH_TOKEN=""         # ejecutar get-gmail-token.mjs
GMAIL_TARGET_ADDRESS="viteappsbreizh@gmail.com"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_ID_XS=""
STRIPE_PRICE_ID_S=""
STRIPE_PRICE_ID_M=""
STRIPE_PRICE_ID_L=""
STRIPE_PRICE_ID_XL=""

# Client
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:5555"
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
